name: production

on:
  push:
    branches: ["main"]

env:
  COMMIT_AUTHOR: ${{ github.event.head_commit.author.name }}
  WORKFLOW_URL: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}
  REPO_NAME: ${{ github.event.repository.name }}

jobs:
  deploy_go:
    runs-on: self-hosted
    environment:
      name: production
      url: http://go.tangzhenming.com
    steps:
      - name: Notify the DingTalk group that the current project has been started deployment
        run: |
          curl 'https://oapi.dingtalk.com/robot/send?access_token=${{ secrets.Ding_Bot_ACCESS_TOKEN }}' \
          -H 'Content-Type: application/json' \
          -d '{"msgtype": "markdown","markdown": {"title":"Flow 流水线消息通知","text":"#### Flow 流水线消息通知\n\n流水线: ['$REPO_NAME'-流水线]('$WORKFLOW_URL')\n\n执行人: '$COMMIT_AUTHOR'\n\n运行状态: ⏸开始执行"}}'
      - uses: actions/checkout@v3
      - name: Create env file
        run: |
          echo "DB_DSN=${{ secrets.DB_DSN }}" > .env
          echo "DB_PORT=${{ secrets.DB_PORT }}" >> .env
          echo "SMTP_HOST=${{ secrets.SMTP_HOST }}" >> .env
          echo "SMTP_PORT=${{ secrets.SMTP_PORT }}" >> .env
          echo "SMTP_USERNAME=${{ secrets.SMTP_USERNAME }}" >> .env
          echo "SMTP_PASSWORD=${{ secrets.SMTP_PASSWORD }}" >> .env
          echo "CORS_ALLOW_ORIGINS=${{ secrets.CORS_ALLOW_ORIGINS }}" >> .env
      - name: Run docker compose
        run: docker compose up --build -d
      - name: Notify the DingTalk group that the current project has been successfully deployed
        if: success()
        run: |
          curl 'https://oapi.dingtalk.com/robot/send?access_token=${{ secrets.Ding_Bot_ACCESS_TOKEN }}' \
          -H 'Content-Type: application/json' \
          -d '{"msgtype": "markdown","markdown": {"title":"Flow 流水线消息通知","text":"#### Flow 流水线消息通知\n\n流水线: ['$REPO_NAME'-流水线]('$WORKFLOW_URL')\n\n执行人: '$COMMIT_AUTHOR'\n\n运行状态: ✅成功"},"at":{"isAtAll": true}}'
      - name: Notify the DingTalk group that the current project has failed to deploy
        if: failure()
        run: |
          curl 'https://oapi.dingtalk.com/robot/send?access_token=${{ secrets.Ding_Bot_ACCESS_TOKEN }}' \
          -H 'Content-Type: application/json' \
          -d '{"msgtype": "markdown","markdown": {"title":"Flow 流水线消息通知","text":"#### Flow 流水线消息通知\n\n流水线: ['$REPO_NAME'-流水线]('$WORKFLOW_URL')\n\n执行人: '$COMMIT_AUTHOR'\n\n运行状态: ❌失败"},"at":{"isAtAll": true}}'
